*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection {
  background-color: rgb(2, 3, 15);
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  padding-top: 30px;

}

.center  ul li {
  list-style: none;
  display: inline-flex;
  margin: 0px 5px;
}

.title{
  font-size: 1rem;
}

.left{
  flex: 2;
  /* border: 1px solid black; */
}

.search{
  flex: 4;
  /* border: 1px solid black; */
}

.search input{
  padding:10px;
  width:20rem;
  border-radius: 5px;
}

.center{
  flex: 4;
  /* border: 1px solid black; */
}

.right{
  flex: 4;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.bannerSection{
  margin: 10px 0px;
}

.bannerBox img{
  width: 100%;
}

.menImages {
  display: flex;
  gap: 10px;
}

.menImages img{
  width:244px;
  height:244px;
  justify-content: space-between;
}
.womanImages {
display: flex;
gap: 10px;
}

.womanImages img{
  width:244px;
  height:244px;
  justify-content: space-between;
}